<main class="contenedor panel-administracion">
  <h1><%= pageName %></h1>
  <div class="contenedor-botones">
    <a href="/new-group" class="btn btn-amarillo">Nuevo Grupo</a>
    <a href="/new-meti" class="btn btn-azul">Nuevo Meti</a>
    <a href="/edit-profile" class="btn btn-rosa">Editar Perfil</a>
  </div>

  <div class="seccion-admin">
    <h2>Proximos Meti's</h2>
    <ul>
      <% if(metis.length > 0){ %> <% metis.forEach(meti => { %>
      <li>
        <div class="informacion-admin">
          <p class="fecha">
            <%- moment(meti.fecha + " "+ meti.hora).format('LLLL') %>
          </p>
          <h3><%- meti.titulo %></h3>
          <small><%- meti.interesados %></small>
        </div>
        <div class="acciones contenedor-botones">
          <a href="/edit-meti/<%- meti.id %>" class="btn btn-verde">Editar</a>
          <a href="/asistentes/<%- meti.id %>" class="btn btn-azul2"
            >Asistentes</a
          >
          <button
            data-meti-id="<%- meti.id %>"
            class="btn btn-rojo"
            id="deleteMeti"
          >
            Eliminar
          </button>
        </div>
      </li>
      <% }) %> <% } else{ %>
      <p>No tienes metis, crea uno.</p>
      <% } %>
    </ul>
  </div>

  <div class="seccion-admin">
    <h2>Meti's Pasados</h2>
    <ul>
      <% if(oldMetis.length > 0){ %> <% oldMetis.forEach(meti => { %>
      <li>
        <div class="informacion-admin">
          <p class="fecha">
            <%- moment(meti.fecha + " "+ meti.hora).format('LLLL') %>
          </p>
          <h3><%- meti.titulo %></h3>
          <small><%- meti.interesados %></small>
        </div>
        <div class="acciones contenedor-botones">
          <a href="/edit-meti/<%- meti.id %>" class="btn btn-verde">Editar</a>
          <a href="/asistentes/<%- meti.id %>" class="btn btn-azul2"
            >Asistentes</a
          >
          <button
            data-meti-id="<%- meti.id %>"
            class="btn btn-rojo"
            id="deleteMeti"
          >
            Eliminar
          </button>
        </div>
      </li>
      <% }) %> <% } else{ %>
      <p>No ha pasado ninguno.</p>
      <% } %>
    </ul>
  </div>

  <div class="seccion-admin">
    <h2>Tus Grupos</h2>
    <% if(grupos.length > 0){ %>
    <ul>
      <% grupos.forEach(grupo =>{ %>
      <li>
        <div class="informacion-admin">
          <h3><%= grupo.name %></h3>
        </div>
        <div class="acciones contenedor-botones">
          <a href="/edit-group/<%= grupo.id %>" class="btn btn-verde">Editar</a>
          <button
            data-group-id="<%= grupo.id %>"
            class="btn btn-rojo"
            id="deleteGroup"
          >
            Eliminar
          </button>
        </div>
      </li>
      <%}) %>
    </ul>
    <% } else{ %>
    <p>No tienes grupos, crea uno.</p>
    <% } %>
  </div>
</main>
