<main class="contenedor panel-administracion">
  <h1><%= pageName %></h1>
  <div class="contenedor-botones">
    <a href="/new-group" class="btn btn-amarillo">Nuevo Grupo</a>
    <a href="/new-meeti" class="btn btn-amarillo">Nuevo Meeti</a>
    <a href="/edit-profile" class="btn">Editar Perfil</a>
  </div>

  <div class="seccion-admin">
    <h2>Proximos Meeti's</h2>
    <ul>
      <% if(meetis.length > 0){ %> <% meetis.forEach(meeti => { %>
      <li>
        <div class="informacion-admin">
          <p class="fecha">
            <%- moment(meeti.fecha + " "+ meeti.hora).format('LLLL') %>
          </p>
          <a href="<%= `/meeti/${meeti.slug}` %>"><h3><%- meeti.titulo %></h3></a>
          
          <small><%- meeti.interesados %></small>
        </div>
        <div class="acciones contenedor-botones">
          <a href="/asistentes/<%- meeti.id %>" class="btn btn-azul"
            >Asistentes</a
          >
          <a href="/edit-meeti/<%- meeti.id %>" class="btn btn-verde">Editar</a>

          <button
            data-meeti-id="<%- meeti.id %>"
            class="btn btn-rojo"
            id="deleteMeeti"
          >
            Eliminar
          </button>
        </div>
      </li>
      <% }) %> <% } else{ %>
      <p>No tienes meetis, crea uno.</p>
      <% } %>
    </ul>
  </div>

  <div class="seccion-admin">
    <h2>Meeti's Pasados</h2>
    <ul>
      <% if(oldMeetis.length > 0){ %> <% oldMeetis.forEach(meeti => { %>
      <li>
        <div class="informacion-admin">
          <p class="fecha">
            <%- moment(meeti.fecha + " "+ meeti.hora).format('LLLL') %>
          </p>
          <h3><%- meeti.titulo %></h3>
          <small><%- meeti.interesados %></small>
        </div>
        <div class="acciones contenedor-botones">
          <a href="/edit-meeti/<%- meeti.id %>" class="btn btn-verde">Editar</a>
          <a href="/asistentes/<%- meeti.id %>" class="btn btn-azul2"
            >Asistentes</a
          >
          <button
            data-meeti-id="<%- meeti.id %>"
            class="btn btn-rojo"
            id="deleteMeeti"
          >
            Eliminar
          </button>
        </div>
      </li>
      <% }) %> <% } else{ %>
      <p>No ha pasado ninguno.</p>
      <% } %>
    </ul>
  </div>

  <div class="seccion-admin">
    <h2>Tus Grupos</h2>
    <% if(grupos.length > 0){ %>
    <ul>
      <% grupos.forEach(grupo =>{ %>
      <li>
        <div class="informacion-admin">
          <h3><%= grupo.name %></h3>
        </div>
        <div class="acciones contenedor-botones">
          <a href="/edit-group/<%= grupo.id %>" class="btn btn-verde">Editar</a>
          <button
            data-group-id="<%= grupo.id %>"
            class="btn btn-rojo"
            id="deleteGroup"
          >
            Eliminar
          </button>
        </div>
      </li>
      <%}) %>
    </ul>
    <% } else{ %>
    <p>No tienes grupos, crea uno.</p>
    <% } %>
  </div>
</main>
