<main class="contenedor">
  <h1><%= pageName %></h1>
  <div class="informacion-grupo">
    <div class="imagen">
      <% if(grupo.imagen){ %>
      <img src="/uploads/<%= grupo.imagen %>" alt="<%= grupo.name %>" />
      <% }%>
    </div>
    <div class="texto">
      <%- grupo.descripcion %> <% if(grupo.url){ %>
      <a target="_blank" class="btn btn-rosa" href="<%- grupo.url%>">
        Web de <%= grupo.name %>
      </a>
      <%}%>
    </div>
  </div>

  <div>
    <h2>Proximos Meeti's</h2>
    <ul>
      <% if(grupo.Meetis && grupo.Meetis.length > 0){ %> 
      <% grupo.Meetis.forEach(meeti => { %>
      <li>
        <div class="texto">
          <a href="/meeti/<%= meeti.slug %>">
            <h3><%= meeti.titulo %></h3>
            <% moment.locale("es") %> 
            <% const fecha = `${meeti.fecha} ${meeti.hora}` %>
            <p class="fecha"><%= moment(fecha).format("LLLL") + " horas" %></p>
          </a>
        </div>
      </li>
      <% }); %>
      <% } %>
    </ul>
  </div>
</main>
